@model IEnumerable<company.Models.Users>
<link href="~/css/fogetpass.css" rel="stylesheet" type="text/css" media="all" />

@{
    ViewBag.Title = "forgetpassword";
}

@if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
{

    <div class="alert alert-success">


        <strong> success!</strong>  please check your email
    </div>

}
@using (Html.BeginForm("forgetpassword", "Home", FormMethod.Post))
{
    <div id="forgotpass" class="forgotpass">
        <div class="inpu">
            <div>
                <input id="inputtxt" class="inputtxt" type="text" name="Email" placeholder="enter your email" required="" />
                @Html.ValidationMessage("Email", "please enter email")
            </div>

           <input id="inputsubmit" class="inputsubmit" type="submit" value="send to email" />
              </div>
    </div>
}
@*<script>

  function myfunction5() {
        var x = document.getElementById("forgotpass");

        var mail = document.getElementById("inputtxt");
        console.log("email", mail.value());
        x.style.display = "none";
        $.ajax({
            url: "/Home/forgetpassword",
            datatype: "text",
            data: { 'Email': mail.value },
            type: "POST",
            success: function (data) {
                $('#testarea').html("All OK");
            },
            error: function () {
                $("#testarea").html("ERROR");
            }
        });
       
    }
</script>*@
