@{
    ViewBag.Title = "verifyaccount";
}

<h2>verifyaccount</h2>
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{

    <div class="alert alert-success">


        <strong> success!</strong> tour account has been activated successfully click here to @Html.ActionLink("login", "login", "User")
    </div>

}
else
{

    <div class="alert alert-danger">


        <strong>Error !</strong>@ViewBag.Message
    </div>

}